body {
    background-image: url("../../assets/back.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(93, 101, 214, 0.7);
    margin-bottom: 20px;
    padding-top: 30px;
    color: blue;
    text-shadow: 2px 2px 6px #a96bfa;

}

body::-webkit-scrollbar {
    display: none;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 15px; 
    margin: 20px 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.p1 {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
    color: #333; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
    .p1{
        font-size: 0.8em;
        margin: 0px 0px;
    }
}

.card-container {
    display: flex;
    overflow-x: auto;
    padding: 40px;
    scroll-snap-type: x mandatory;
    width: 100%;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.card-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.8, 0.4);
    overflow: hidden;
    scroll-snap-align: start;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1.5em;
}

.card-text {
    font-size: 1em;
    margin-top: 10px;
}
